#footer {
    width: 100%;
    background-color: $primary_color;
    margin-top: 1rem;
    padding: 1rem 0;
    p {
        padding: .5rem 0;
        color: $white;
        margin: 0;
        font-size: .9rem;
    }
}