.mainHeader {
    padding: 2rem;
    background-color: $primary_color;
    @include border-radius(0);
    h1 {
        color: $white;
    }
    p {
        color: $white;
    }
    .my-4 {
        background: rgba(255,255,255,.6);
    }
}