*,
*:after,
*:before {
  @include box-sizing(border-box);
  margin: 0;
}

body {
  background-color: rgba($color: $black, $alpha: .08);
}

// Cards
.card {
  position: relative;
  @include border-radius(0);
  @include box-shadow(1);
  border: none;
  span {
      position: absolute;
      bottom: 2.2rem;
      right: 1rem;
      font-size: 2rem;
      color: rgba($color: $primary_color, $alpha: .5);
  }
  h2 {
      font-size: 3rem;
      span {
          position: relative;
          bottom: 0;
          right: 0;
          font-size: 3rem;
          color: $black;
      }
  }
  .card-title {
      font-size: 1.4rem;
      &:after {
          content: '';
          display: block;
          width: 40px;
          height: 2px;
          background-color: $primary_color;
          margin: 1rem 0;
      }
  }
}

h3 {
  font-size: 1.4rem;
  &:after {
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      background-color: $primary_color;
      margin: 1rem 0;
  }
}

.title-header {
  padding: 1rem;
}

// Dashboards
.chartData {
  margin-top: 1rem;
  .chart {
    margin-top: 1rem;
    background-color: $white;
    @include box_shadow(1);
  }
}