.v-sidebar-menu {
    &.vsm_expanded {
        .vsm--item_open {
            .vsm--link_level-1 {
                background-color: $primary_color !important;
                .vsm--icon {
                    background-color: $primary_color !important;
                }
            }
        }
    }
}
nav {
    .navbar-brand {
        font-size: 1.5rem;
        font-weight: 600;
    }
}