.v-sidebar-menu {
    &.vsm_expanded {
        .vsm--item_open {
            .vsm--link_level-1 {
                background-color: $primary_color !important;
                .vsm--icon {
                    background-color: $primary_color !important;
                    font-size: 1.4rem;
                }
            }
        }
    }
}
nav {
    .navbar-brand {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.tsx {
    display: inline-block;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}